venv/

*.pyc
__pycache__/

.pytest_cache/
.coverage
htmlcov/
coverage.xml
fil-result

dist/
build/
output/
*.egg-info/

gschemas.compiled

# Used by the package script
_tmp_widget.py
aspinwall_launcher
*.tar.gz
